body{
    margin:0;
}
.container{
    max-width: 1140px;
    margin: auto;
    font-family: 'Roboto', sans-serif;
}
.logo{
    width: 148px;
    height: 125px;
}
#menu__toggle {
  opacity: 0;
}
.menu__btn {
  display: flex;
  align-items: center; 
  position: fixed;
  top: 20px;
  left: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #616161;
}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}
.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  text-align: center;
  background-color: #ECEFF1;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
}
.menu__item {
  display: block;
  padding: 12px 24px;
  color: #333;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
}
.menu__item:hover {
  background-color: #CFD8DC;
}
#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
}
.hamburger-menu{
    display: none;  
}
li {
    list-style-type: none;
   }
a{
    text-decoration: none;
}
.top_menu ul li a{
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    color: #000103;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
/*    font-family: 'Roboto Slab', serif */
}
.tel_num{
    color: #000000;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;
    padding-left: 10px;
}
.fa-phone:before {
    color:#2A75FF;
    font-size: 22px;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.top_menu ul{
    display: flex;
    padding-left: 17px;
    padding-right: 17px;
}
.top_menu ul li{
    padding-left: 17px;
    padding-right: 17px;
}
#active{
    color: #2A75FF;
}
header{
    position: sticky;
    top: 0;
    background: #ffff;
    z-index: 10;
}
